
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> templates (in progress) ###
mes_recettes_IN-PROGRESS.html.twig
new_diy_IN-PROGRESS.html.twig
###<  templates (in progress) ###

###> Form ###
RecetteOldType.php
###<  Form ###
